<h1>{{this.length}} Modernizr Tests</h1>

<ul>
  {{#each .}}
  <li>
  <h3>{{name}}</h3>

  <div class="test-data">

    {{#if property}}
    <div class="test-properties">
      <h4>Properties</h4>
      <ul>
      {{#eachOrOnce property}}
        <li><code>Modernizr.{{.}}</code></li>
      {{/eachOrOnce}}
      </ul>
    </div>
    {{/if}}

    {{#if async}}
    <span class="async-test">Async!</span>
    {{/if}}

    {{#if caniuse}}
    <a href="http://caniuse.com/#feat={{caniuse}}" class="caniuse-test">caniuse</a>
    {{/if}}

    {{#if tags}}
    <div class="test-tags">
      <h4>Tags</h4>

      <ul>
      {{#each tags}}
        <li>{{.}}</li>
      {{/each}}
      </ul>
    </div>
    {{/if}}

    {{#if notes}}
    <h4>Notes</h4>
    <ul class="test-notes">
      {{#each notes}}
      <li>
        {{#ifIsLink .}}
        <a href="{{href}}">{{name}}</a>
        {{else}}
        {{.}}
        {{/ifIsLink}}
        </li>
      {{/each}}
    </ul>
    {{/if}}

    {{#if knownBugs}}
    <h4>Known Bugs</h4>
    <ul class="test-knownBugs">
      {{#each knownBugs}}
      <li>
        {{#ifIsLink .}}
        <a href="{{href}}">{{name}}</a>
        {{else}}
        {{.}}
        {{/ifIsLink}}
        </li>
      {{/each}}
    </ul>
    {{/if}}

    {{#if deps}}
    <div class="test-deps">
      <h4>Code Dependencies</h4>
      <ul>
        {{#each deps}}
        <li><code>{{.}}</code></li>
        {{/each}}
      </ul>
    </div>
    {{/if}}

    {{#if polyfills}}
    <div class="test-polyfills">
      <h4>Polyfills</h4>

      <ul>
      {{#each polyfills}}
        <li>
          <a href="{{href}}">{{name}}</a>
          {{#if authors}}
          by
          <ul class="test-polyfills-authors">
            {{#each authors}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
          {{/if}}

          {{#if notes}}
          <h5>Polyfill Notes</h5>
          <ul class="test-polyfills-notes">
            {{#each notes}}
              <li>{{.}}</li>
            {{/each}}
          </ul>
          {{/if}}
        </li>
      {{/each}}
      </ul>
    </div>
    {{/if}}

    {{#if doc}}
    <div class="test-docs">
      <h4>Documentation</h4>
      {{{doc}}}
    </div>
    {{/if}}

    </div>
  </li>
  {{/each}}
</ul>
